@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$font-family: 'Roboto', sans-serif;

$primary: #EB5E28;
$white: #fafafa;
$ivory: #CCC5B9;
$black: #403D39;
$font-color: #646464